.box{
	width: 42ch;
	animation: typing 5s steps(42), blink .12s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	border-right: 0px solid;
	font-size: 14px;

}
@keyframes typing {
	from{
		width: 0;
	}
}
@keyframes blink {
	60%{
		border-color: transparent;
	}
}